%%-*- mode: erlang -*-
%% ex: ft=erlang
%% {require_otp_vsn, "R19"}.
{erl_opts, [debug_info, {parse_transform}]}.
{deps, [
    {utils, "", {git, "https://github.com/elpaisa/erlutils", {tag, "v1.0.2"}}},
    {ibrowse, "", {git, "https://github.com/cmullaparthi/ibrowse", {tag, "v4.4.0"}}},
    jsx
]}.

{deps_dir, "lib"}.
{cover_export_enabled, true}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose, no_tty, {report, {eunit_progress, [colored]}}]}.


{shell, [
  {apps, [elasticsearch]}
]}.

{edoc_opts, [{dir, "docs/"}]}.